.link1{
    color: blue !important;
}
.link1:hover{text-decoration: underline}


/*------------------------------------------------------------------------------
 - ESTILO PARA FORMULARIO "CONTACTO"
 -----------------------------------------------------------------------------*/
.form-myaccount {
    margin-top: 20px;
}
.form-myaccount label{
    width: 205px;
    font-size: 100%;
}
.form-myaccount input{
    width: 300px;
}

/*------------------------------------------------------------------------------
 - ESTILO PARA FORMULARIO "CATEGORIAS"
 -----------------------------------------------------------------------------*/
.form-categories {
}
.form-categories label{
    width: 125px;
    font-size: 100%;
}
.form-categories input{
    width: 300px;
}
.form-categories textarea{
    width: 290px;
    height: 120px;
}

/*------------------------------------------------------------------------------
 - ESTILO PARA FORMULARIO "PRODUCTOS"
 -----------------------------------------------------------------------------*/
.form-products {
}
.form-products label{
    width: 130px;
    font-size: 100%;
}
.form-products input{
    width: 300px;
}
.form-products textarea{
    width: 360px;
    height: 120px;
}

/*------------------------------------------------------------------------------
 - ESTILO PARA LA SECCION PRODUCTOS
 -----------------------------------------------------------------------------*/
fieldset{
    padding: 5px;
}
fieldset legend{
    font-size: 100%;
}
fieldset.fieldset-categories{
    float: left;
    width: 238px;
    height: 360px;
    margin-right: 10px;
}

fieldset.fieldset-form{
    position: relative;
    width: 670px;
    height: 360px;
}
    fieldset.fieldset-form .cont-products{
        width: 669px;
        height: 341px;
        overflow: auto;
    }
    fieldset.fieldset-form .busy{
        display: none;
        position: absolute;
        left:0;top:0;
        width: 578px;
        height: 304px;
        background: transparent url({BASE_URL}images/ajax-loader2.gif) no-repeat center;
        z-index: 1000;
    }


/*------------------------------------------------------------------------------
 - ESTILO PARA TREEVIEW
 -----------------------------------------------------------------------------*/
.cont-treeview {
    position: relative;
    width: 229px;
    height: 308px;
    margin: 0 auto 5px auto;
    padding-right: 4px;
    overflow: auto;
    border:1px solid #666;
}

/*------------------------------------------------------------------------------
 - ESTILO PARA TABLA "PRODUCTOS"
 -----------------------------------------------------------------------------*/
.table-products .cell1{
    width: 8px;
}
.table-products .cell2{
    width: 155px;
}
.table-products .cell3{
    width: 231px;
}
.table-products .cell4{
    width: 38px;
    text-align: center;
}
.table-products .cell5, .table-products .cell6{
    width: 73px;
    text-align: center;
}
