/*------------------------------------------------------------------------------
 - ESTILO GENERAL
 -----------------------------------------------------------------------------*/
.trow{
    float:left;
    clear: both;
    width: 100%;
    margin: 7px 0 7px 0;
}
h3.title{
    color:#2C99C2;
    margin: 0 0 0 5px;
}
h1.title{
    color:#0081AB;
    font-size: 180%;
    width: 525px;
    background: url({BASE_URL}images/banda-titulos-container.png) no-repeat bottom left;
    padding-bottom: 10px;
}
h1.title2{
    color:#074B87;
    font-size: 170%;
    width: 584px;
    background: url({BASE_URL}images/banda-slider.png) no-repeat bottom left;
    padding: 0 0 23px 45px;
    margin: 30px 0 0 20px;
}
h1.title3{
    color:#007FA5;
    font-size: 170%;
    width: 412px;
    background: url({BASE_URL}images/banda-trabaje-con-nosotros.png) no-repeat bottom left;
    padding-bottom: 8px;
    margin: 10px 0 10px 0;
}

.color1{color: #48A5C3 !important}
.italic{font-style: italic !important}
.framethumb{
    padding: 2px;
    border: 2px solid #5A5A5C;
}

/*------------------------------------------------------------------------------
 - ESTILO PARA MENSAJES DEL VALIDADOR
 -----------------------------------------------------------------------------*/
.valid-success{
    background: transparent url({BASE_URL}img/icon_success.png) no-repeat left !important;
    width: 16px;
    height: 16px;
    padding: 0 0 0 18px !important;
    color: #264409 !important;
    border: none !important;
    font-size: 100% !important;
    z-index: 100;
}
.valid-error{
    background: #C8E6EE;
    color: #002B45;
    border: 2px solid #75BBD2;
    padding: 3px;
    margin-top: 5px;
    font-size: 90%;
    font-weight: normal;
    min-width: 180px;
    max-width: 180px;
    text-align: left;
    z-index: 100;
    display: block;
}
.valid-highlight{border-style: dashed !important;}
.valid-unhighlight{border-style: solid !important;}

/*------------------------------------------------------------------------------
 - ESTILOS PARA LINK
 -----------------------------------------------------------------------------*/
a.link-img{
    color:#48A5C3 !important;
}
a.link-img img{
    position: relative;
    top:3px;
}
a.link-img:hover{color:#646567 !important;}

.link-inherit, .link-inherit:link, .link-inherit:visited, .link-inherit:hover{
    color: inherit;
}
/*------------------------------------------------------------------------------
 - ESTILOS PARA LABEL
 -----------------------------------------------------------------------------*/
.label{
    display: block;
    float: left;
    text-align: right;
    margin-right: 10px;
    cursor: pointer;
    font-weight: normal;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA INPUT
 -----------------------------------------------------------------------------*/
.input-search{
    float: left;
    background: transparent url({BASE_URL}images/bg-input-search.png) no-repeat;
    width: 131px;
    height: 21px;
    margin-right: 5px;
}
.input-search input{
    width: 120px;
    border: none;
    background: transparent;
    padding: 2px 0 0 5px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA TEXTAREA
 -----------------------------------------------------------------------------*/
textarea{font-size: inherit;}

/*------------------------------------------------------------------------------
 - ESTILOS PARA SELECT
 -----------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
 - ESTILOS PARA BUTTON
 -----------------------------------------------------------------------------*/
button{
    background-color: #0081AB;
    color: #fff;
    border: 1px solid #57ACC8;
    padding: 0 10px 0 10px;
    margin-right: 5px;
}
.button-vermas{
    position: absolute;
    background: transparent url({BASE_URL}images/button-small.png) no-repeat;
    width: 82px;
    height: 29px;
    left:270px;
    top:148px;
    padding-top: 7px;
    border: none;
    font-size: 80%;
    color: #fff;
    text-align: center;
}
.button-vermas:hover, .button-vermas:link{color: #fff;}

/*------------------------------------------------------------------------------
 - ESTILO QUE ESTAN EN EL "HEADER"
 -----------------------------------------------------------------------------*/
.header-bg1{
    background: url({BASE_URL}images/bg-header1.jpg) no-repeat;
    width: 1360px;
    height: 405px;
    margin: 0 auto;
    z-index: 0;
}
.header-bg2{
    background: url({BASE_URL}images/bg-header2.jpg) no-repeat;
    width: 1360px;
    height: 194px;
    margin: 0 auto;
    z-index: 0;
}
.header1, .header2{
    z-index: 100;
}
.header1{margin-top: -405px;}
.header2{margin-top: -178px;}
.header1 .logo, .header2 .logo{
    float: left;
    display: block;
}
.header1 .logo{margin-top: 23px;}
.header2 .logo{margin-top: 0;}
.header1 .cont-links, .header2 .cont-links{
    float: right;
}
.header1 .cont-links{
    margin-top: 5px;
}
.header2 .cont-links{
    margin-top: -11px;
}
.header1 .cont-links .links, .header2 .cont-links .links{
    background: url({BASE_URL}images/banda-menu-superior.png) no-repeat bottom center;
    width: 351px;
    padding-bottom: 8px;
    color: #6DC0D5;
}
.header1 .cont-links .links a, .header2 .cont-links .links a{
    font-size: 75%;
    color: #6DC0D5;
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
.header1 .cont-links .links a:hover, .header2 .cont-links .links a:hover,
.header1 .cont-links .links a.current, .header2 .cont-links .links a.current{
    color: #fff;
}
.header1 .cont-search, .header2 .cont-search{
    float: right;
    clear: both;
    margin: 40px -203px 0 0;
    padding: 0 211px 8px 0;
    border-bottom: 1px dashed #fff;
}

/* BANNER
 -----------------------------------------------------------------------------*/
.banner{
    position: relative;
    clear: both;
    width: 675px;
    height: 195px;
    margin: 136px auto 0 auto;
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    /*border: 1px solid red;*/
}
    .banner p.text{
        float: left;
        font-size: 90%;
        color: #fff;
        width: 350px;
        margin-left: 65px;
    }
    .banner img.image{
        float: right;
        margin: -76px 21px;
        /*border: 1px solid red;*/
    }
    .banner .button-vermas{
        clear: both;
        display: block;
        margin:0 auto;
    }


/* MENU
 -----------------------------------------------------------------------------*/
.menu{
    float: left;
    clear: both;
    width: 1360px;
    height: 66px;
}
.header1 .menu{
    margin: -16px 0 20px -205px;
}
.header2 .menu{
    margin: 9px 0 20px -201px;
}

.menu ul, .menu li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu ul.sf-menu{
    margin: 20px 0 0 402px;
    position: relative;
}
.menu ul.sf-menu >li{
    position: relative;
    display: inline;
    float: left;
    margin-right: 2px;
    padding-right: 3px;
    background: url({BASE_URL}images/separador-menu.png) no-repeat right top;
}
.menu ul.sf-menu li a{
    display: block;
    color: #fff;
    font-size: 100%;
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    padding: 2px 20px 2px 20px;
    text-align: center;
}
.menu ul.sf-menu >li a{
    float: left;
}
.menu ul.sf-menu >li.outline{background: none;}
.menu ul.sf-menu li a:hover, .menu ul.sf-menu li >a.current{
    background-color: #0081AB;
    visibility: inherit; /* fixes IE7 'sticky bug' */
}
.menu ul.sf-menu .sf-sub-indicator {
    /*float: right;*/
    background:	url({BASE_URL}images/icon-arrowmenu-down.png) no-repeat center;
    width: 5px;
    height: 3px;
    margin: 10px 0 0 5px;
    overflow: hidden;
}


/** Estilos para los submenus
 *******************************************/
.menu ul.sf-menu ul{
    position: absolute;
    background-color: #0E3753;
    z-index: 1100;
    width: 230px;
    left:0;
    top:30px;
}
.menu ul.sf-menu ul ul{
    left:232px;
    top: 0;
}
.menu ul.sf-menu ul li{
    position: relative;
    display: list-item;
    float: left;
    width: 230px;
    border-bottom: 1px dashed #fff;
    background-color: #0E3753;
}
.menu ul.sf-menu ul li a{
    width: 190px;
    text-align: left;
}
.menu ul.sf-menu ul .sf-sub-indicator {
    background:	url({BASE_URL}images/icon-arrowmenu-right.png) no-repeat center;
}


/*------------------------------------------------------------------------------
 - ESTILO QUE ESTAN EN EL "MAIN CONTAINER"
 -----------------------------------------------------------------------------*/
.main-container{
    padding-bottom: 40px;
    /*border: 1px solid red;*/
}
.main-container .contents{
    font-size: 75% !important;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
}
.main-container .contents-width{
    float: left;
    width: 638px;
}

/* SIDEBAR
 -----------------------------------------------------------------------------*/
.main-container .sidebar{
    float: right;
    width: 300px;
    padding-top: 30px;
}
    .main-container .sidebar ul.menu-sidebar, .main-container .sidebar ul.menu-sidebar li{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
        .main-container .sidebar ul.menu-sidebar{
            margin-bottom: 20px;
        }
        .main-container .sidebar ul.menu-sidebar li{
            display: list-item;
            margin-bottom: 2px;
            border-bottom: 1px dashed #42B4CC;
        }
            .main-container .sidebar ul.menu-sidebar li a{
                font-size: 80%;
                color: #2A96B9;
            }
            .main-container .sidebar ul.menu-sidebar li a.current,
            .main-container .sidebar ul.menu-sidebar li a:hover{
                color: #3B5C72 !important;
            }

/*------------------------------------------------------------------------------
 - ESTILO QUE ESTAN EN EL "FOOTER"
 -----------------------------------------------------------------------------*/
.footer{
    padding-top: 10px;
    height: 110px;
    text-align: center;
    color: #fff;
    font-size: 80%;
    /*border: 1px solid red;*/
}
.footer hr{
    width: 600px;
    background: #1E3D5C;
    margin: 6px auto;
}

/*------------------------------------------------------------------------------
 - ESTILO PARA SEPARADORES
 -----------------------------------------------------------------h------------*/
.separator-v1{
    background: transparent url({BASE_URL}images/separador-thumb.png) no-repeat right bottom;
    height: 180px;
}
.separator-h1, .separator-h2{
    clear: both;
    float: left;
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #666;
}
.separator-h1{
    margin: 50px 0 10px 0;
    width: 650px;
}
.separator-h2{
    margin: 10px 0 10px 0;
}

/*------------------------------------------------------------------------------
 - ESTILO PARA TABLAS
 -----------------------------------------------------------------------------*/
table{
    background-color: #C8E6EE;
    color:#30556E;
}
table thead{
    background-color: #42B4CC;
    color: #fff;

}
table tbody td{
    border: 1px solid #8CCDE0;
}
    table tbody td input, table td.cell1{
        margin: 0 !important;
        padding: 0 !important;
        text-align: center;
    }
table tbody tr.row-even td{
    background-color: #DBEAEE;
}

/*------------------------------------------------------------------------------
 - ESTILO PARA FORMULARIO "CONTACTO"
 -----------------------------------------------------------------------------*/
.form-contact {
    margin-top: 20px;
}
.form-contact label{
    width: 140px;
    font-size: 75%;
}
.form-contact input{
    width: 230px;
}
.form-contact select{
    width: 240px;
}
.form-contact textarea{
    width: 220px;
    height: 80px;
    font-size: 80%;
}
.form-contact .input-code{
    width: 70px;
    text-align: center;
}
.form-contact .input-num{
    width: 150px;
}

/*------------------------------------------------------------------------------
 - ESTILO PARA FORMULARIO "CONTACTO"
 -----------------------------------------------------------------------------*/
.form-cv{
    color:#5D94A8;
    font-size: 80% !important;
    display: none;
}
.form-cv label{
    width: 100px;
}
.form-cv input{
    width: 295px;
}
.form-cv textarea{
    width: 284px;
    height: 50px;
}
.form-cv .top, .form-cv .middle, .form-cv .bottom{
    float: left;
    clear: left;
    width: 450px;
}
.form-cv .top{
    background: url({BASE_URL}images/form-top.png) no-repeat;
    height: 12px;
 }
.form-cv .bottom{
    background: url({BASE_URL}images/form-bottom.png) no-repeat;
    height: 12px;
}
.form-cv .middle{
    background: url({BASE_URL}images/form-middle.png) repeat-y;
    width: 430px;
    height: auto;
    padding: 0 10px 0 10px;
}
.form-cv .error{
    margin-top: 5px;
}
.form-cv .msg-request{
    font-size: 110%;
    text-align: center;
}
.form-cv .msg-request img{
    position: relative;
    top:5px;
}

/*------------------------------------------------------------------------------
 - ESTILO PARA FORMULARIO "SOLICITE CAPACITACION"
 -----------------------------------------------------------------------------*/
.form-solcap {
    margin-top: 20px;
    font-size: 140%;
}
.form-solcap label{
    width: 140px;
    font-size: 75%;
}
.form-solcap input{
    width: 230px;
}
.form-solcap select{
    width: 240px;
}
.form-solcap textarea{
    width: 220px;
    height: 80px;
    font-size: 80%;
}
.form-solcap .input-code{
    width: 70px;
    text-align: center;
}
.form-solcap .input-num{
    width: 150px;
}

/*------------------------------------------------------------------------------
 - ESTILO PARA LA SECCION PRODUCTOS
 -----------------------------------------------------------------------------*/
.product-col{
    float: left;
    position: relative;
    background: url({BASE_URL}images/separador-product.png) no-repeat right top;
    width: 160px;
    height: 260px;
    padding-right: 10px;
    margin-right: 20px;
}
    .product-col h3{
        color:#42B4CC;
        font-size: 150%;
        font-weight: bold;
        margin-top: 8px;
    }
    .product-col a{
        position: absolute;
        left: 66px;
        top:210px;
        width: 80px;
        height: 22px;
        background-color: #074A87;
        color:#fff;
        border: 1px solid #D8E3EC;
        display: block;
        font-style: italic;
        text-align: center;
    }

.product-col-last{
    margin-right: 0;
    background: none;
}
    
/*------------------------------------------------------------------------------
 - ESTILO PARA LOGIN
 -----------------------------------------------------------------------------*/
.contlogin{
    width: 300px;
    margin: 0 auto;
    font-size: 90%;
}
    .contlogin fieldset{
        float: left;
        width: 300px;
        height: auto;
        padding: 5px;
    }
        .contlogin fieldset legend{
            font-size: 100%;
            margin-left: 10px;
        }
    .contlogin input{
        width: 140px;
    }
    .contlogin label{
        width: 100px;
    }
