/*------------------------------------------------------------------------------
 - ESTILO QUE ESTAN EN EL "HEADER"
 -----------------------------------------------------------------------------*/
.header1 .logo{margin-top: 0;}
.header2 .logo{margin-top: -20px;}
.header1 .cont-links{margin-top: -15px;}
.header2 .cont-links{margin-top: -30px;}
.header1 .menu{margin: -16px 0 20px -195px;}
.header2 .menu{margin: 6px 0 20px -196px;}
.header1 .cont-search, .header2 .cont-search{
    margin: 40px -215px 0 0;
    padding: 0 219px 8px 0;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA INPUT
 -----------------------------------------------------------------------------*/
.input-search input{padding: 0px 0 0 5px;}

/*------------------------------------------------------------------------------
 - ESTILO QUE ESTAN EN EL "MAIN CONTAINER"
 -----------------------------------------------------------------------------*/
.main-container{margin-top: 20px;}

/*------------------------------------------------------------------------------
 - ESTILO QUE ESTAN EN EL "FOOTER"
 -----------------------------------------------------------------------------*/
.footer hr{border: 1px solid #1E3D5C !important;}

/*------------------------------------------------------------------------------
 - ESTILO PARA FORMULARIO "CONTACTO"
 -----------------------------------------------------------------------------*/
.form-cv{text-align: left;}
